.MuiTreeItem-label {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.MuiTreeItem-label:hover {
  overflow: visible;
  white-space: break-spaces;
}

.highlight-label {
  background-color: yellow;
}
